# Development dependencies for the project.
# Includes Jupyter and other tools used during development, but not required for the Streamlit app in production.

jupyterlab
notebook

# jupyterlab==4.2.5
# jupyterlab_pygments==0.3.0
# jupyterlab_server==2.27.3
# jupyterlab_widgets==3.0.13